body{
   padding: 0;
   margin: 0;
}
header,footer{
   background: #466368;
  background: linear-gradient(#000000, #034450);
  border-radius: 1px;
  height: 120px;
   padding: 50px 0px;
   border: black 3px solid;
}
h1{
   text-align: center;
}
body{
   background-color: rgb(0, 162, 255);
   background-size: 100%;
   background-origin: content-box;
   background-repeat: no-repeat;
}
aside{
   background:url(https://i.pinimg.com/originals/1e/fc/6b/1efc6b1d583e0ef872b89972a0b7ee33.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
   border: black 3px solid;
}
img:hover{
   transition: 1s;
   transform: scale(1.2);
}
img{
   margin-left: 100px;
}
.lol{
   padding: 5ch;
}